* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #343A40;
  --title-color: #FAEBD7;
  --paragraph-color: #fff;
  --span-marked: #F72A2A;
  --navbar-border-color: #ff6868;
  --footer-color: #525252;
  --footerlinks-color: #716E6E;
  --mohi-href-color: thistle;
  --nav-color: #ff5858;
}

body, html {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}

header {
  background-color: var(--nav-color);
}

.navbar {
  background-color: var(--nav-color);
  width: 100%;
  height: 55px;
  border: solid var(--nav-color) 1px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 30px;
  position: top;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  border-bottom: 2px solid var(--navbar-border-color);
  color: var(--paragraph-color, #000);
}

.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}

.navbar ul li a:hover {
  background-color: rgba(255, 0, 0, 0.15);
}

.navbar .navbar-toggler {
  display: none;
}

.navbar .navbar-toggler div {
  width: 40px;
  height: 3px;
  background-color: rgb(248, 248, 248);
  margin: 8px;
  transition: all 0.3s ease;
}

.lightSwitch {
  top: 3px;
}

.lightSwitch i.fa-sun {
  color: #000;
  position: inherit;
  left: 54%;
  top: 23%;
  right: auto;
}

.lightSwitch i.fa-moon {
  color: #000;
  position: inherit;
  left: 10%;
  top: 23%;
  right: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input i .fa-sun {
  display: none;
}

input:checked+.slider {
  background-color: #a51f1f;
}

input:checked+.slider .fa-moon {
  display: none;
}

input:focus+.slider {
  box-shadow: 0 0 1px #fff;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-p {
  font-size: large;
  text-align: center;
  margin: auto;
  padding-top: 25%;
  size: smaller;
}

.cowboishimage {
  background-image: url("../img/cowboish.png");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 60%;
}

.clickable {
  position: relative;
  top: 10%;
  left: 39%;
  width: 300px;
  border-radius: 90%;
  right: auto;
  background-color: transparent;
  max-width: 50%;
  height: 80%;
}

.hero-button {
  display: fixed;
  margin-right: 5px;
  margin-bottom: 5px;
}

.Page {
  font-size: larger;
  color: whitesmoke;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.Page a {
  color: #F72A2A;
}

footer .Page a:hover {
  color: wheat;
}

.feature {
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}

.feature section {
  margin-bottom: 10%;
}

.feature h2 {
  color: var(--title-color);
}

span {
  color: var(--span-marked);
  font-size: larger;
  font-style: normal;
}

.feature img {
  outline: 2px solid #1a1c1f;
}

.feature p {
  color: var(--paragraph-color);
  font-size: large;
  margin-top: 3%;
  padding-right: 10px;
}

#chairButton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  background-color: Transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
}

#chairButton:hover {
  background-color: none;
}

#chairButton img {
  height: 100px;
  width: 50px;
}

.footer {
  background-color: var(--background-color);
  color: var(--paragraph-color);
}

.footerlinks {
  text-decoration: none;
  float: right;
  margin-right: 5%;
  list-style-type: none;
  background-color: var(--footerlinks-color);
  ;
  padding: 2% 7%;
}

.endPage {
  text-align: center;
}

.btn {
  padding: 1%;
  font-size: 20px;
}

.btn i {
  height: 20px;
  width: 20px;
}

.endPage a {
  margin-bottom: 5%;
}

.endPage p {
  font-size: larger;
  color: var(--paragraph-color);
}

footer a {
  font-size: large;
  padding: 1% 1%;
  color: var(--paragraph-color);
}

footer a:hover {
  color: white;
}

#mohi {
  text-align: left;
  flex: content;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#mohi p {
  color: var(--paragraph-color);
  font-size: larger;
}

#mohi b {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: var(--mohi-href-color);
}

#mohi li {
  list-style-type: none;
}

#mohi img {
  outline: 2px solid #1a1c1f;
  width: 75%;
}

#privacypolicy {
  text-align: left;
  margin-left: 10%;
  margin-right: 5%;
}

#privacypolicy h2 {
  margin-top: 20px;
  color: rgb(252, 50, 50)
}

#privacypolicy p {
  color: var(--paragraph-color);
  font-size: large;
}

.backHome {
  padding: 1.5%;
  font-size: larger;
  margin-top: 3%;
}

.Container {
  position: relative;
  top: 20px;
  left: 0;
  size: auto;
}

#discordSupport {
  top: 0;
  margin-bottom: 20px;
  outline: solid #3b3737;
  float: left;
  background-color: #555555;
}

#topgg {
  position: none;
  top: 15%;
}

#commands {
  margin: 5%;
  text-align: center;
}

.card-body {
  background-color: var(--footer-color);
}

.card-footer {
  background-color: var(--footer-color);
}
.card-footer p {
  text-align: center;
  color: var(--paragraph-color);
}

/*Right here*/

table {
  text-align: center;
  right: 50%;
  left: 50%;
}

#commands h1, h2, h3 {
  color: var(--paragraph-color)
}

.collapsible {
  background-color: var(--background-color);
  color: var(--paragraph-color);
  cursor: pointer;
  padding: 2%;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  margin-top: 8px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
}

.active, .collapsible:hover {
  background-color: var(--footerlinks-color)
}

.content {
  background-color: var(--footerlinks-color);
  max-height: 0;
  overflow: hidden;
  color: var(--paragraph-color);
  transition: max-height 0.2s ease-out;
}

/* We keep the media changes at the bottom so they don't get overwritten but overwrite instead  */

@media (max-width: 991px) {
  .cowboishimage {
    height: 70%;
  }
  .hero-text {
    top: 70%;
  }
  .navbar ul {
    padding: 0 10px;
  }
  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .cowboishimage {
    background-size: 40%;
    height: 60%;
  }
  .hero-text {
    top: 70%;
  }
  .feature img {
    position: center;
    width: 90%;
  }
  .navbar {
    position: sticky;
    height: 11vh;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navbar ul {
    visibility: hidden;
    padding-right: 0;
  }
  .navbar li {
    margin: 10px;
    width: 100%;
    padding: 0;
    right: 0;
    padding-top: 20px;
    margin: 0;
    background-color: var(--nav-color);
    opacity: 0;
  }
  .navbar ul li a {
    text-align: left;
  }
  .navbar .navbar-toggler {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
  .lightSwitch {
    position: absolute;
    top: 10px;
    right: 180%;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 8px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-7px, -8px);
  }
  #mohi {
    margin-left: 5%;
    margin-top: 5%;
  }
}

@media (max-width: 425px) {
  .cowboishimage {
    background-size: 50%;
    height: 50%;
  }
  .hero-button {
    display: none;
  }
  #mohi {
    margin-left: 1%;
    font-size: 13px;
    margin-top: 5%;
  }
  .lightSwitch {
    right: 170%;
  }
}

@media (max-width: 425px) {
  .cowboishimage {
    background-size: 65%;
    height: 65%;
  }
  .hero-text {
    top: 75%;
  }
  .lightSwitch {
    right: 165%;
  }
}

@media(max-width: 320px) {
  #topgg {
    display: none;
  }
  .lightSwitch {
    right: 160%;
  }
}